* {
	text-align: center;
	background-color: #282c34;
	color: white;
	margin-left: 10px;
	margin-right: 10px;
}

.App-header {
	min-height: 10vh;
	display: flex;
	flex-direction: column;
	font-size: calc(10px + 2vmin);
	color: white;
}

.video-responsive {
	overflow: hidden;
	padding-bottom: 56.25%;
	position: relative;
	height: 0;
}

.video-responsive iframe {
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	position: absolute;
}
