* {
	color: darkgray;
	margin-left: 10px;
	margin-right: 10px;
	font-family: 'Permanent Marker';
}

body {
	background-color: #282c34;
}

.App-header {
	min-height: 10vh;
	display: flex;
	flex-direction: column;
	font-size: calc(10px + 2vmin);
	color: darkgray;
}

h1 {
	font-size: 44px;
	text-align: center;
}

.video-responsive {
	overflow: hidden;
	padding-bottom: 56.25%;
	position: relative;
	height: 0;
}

.video-responsive iframe {
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	position: absolute;
}

.sortButton {
	color: darkgray !important;
	font-size: 22px;
	text-transform: uppercase;
	text-decoration: none;
	background: #282c34;
	padding: 20px;
	display: inline-block;
	transition: all 0.4s ease 0s;
	margin-top: 10px;
	margin-bottom: 10px;
	min-width: 200px;
}

.sortButton:hover {
	color: #282c34 !important;
	background: white;
	border-color: #282c34 !important;
	transition: all 0.6s ease 0s;
	cursor: pointer;
	font-weight: bold;
}

.champText {
	text-decoration: none;
	text-align: center;
	font-size: 18px;
}

.champText:hover {
	font-size: 30px;
	font-weight: bold;
	margin: none;
	transition: all 0.6s ease 0s;
}

.inputSearch {
	text-align: center;
	margin-top: 10px;
	background-color: #282c34;
	color: darkgray;
	min-height: 30px;
	font-size: 18px;
}
